body{
  height: auto;
}

.cc{
  margin-left: 100px;
}

.boy{
  height: 30px;
}

.kanan{
  margin-right: 100px;
}

.nav-user-info h5{
  color: #000000;
}

.kain img{
  width: 100%;
  height: auto;
  background-repeat: repeat;
}

.daftar{
  font-size: 40px;
  text-align: center;
}

.form1{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}

label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #2ecc71;
 }

.gambar img{
  height: 150px;
}

.gambar .tombolnext{
  float: right;
}
